// COLORES
azul = #273756
blanco = #FFF
gris = #9B9B9B
negro = #000
rojo = #DD1834
casoBlanco = rgba(255,255,255, .8)
reNegro = rgba(0,0,0,0.75)

*
	webkit-transition: ease-out .3s;
	-moz-transition: ease-out .3s;
	-o-transition: ease-out .3s;
	transition: ease-out .3s;
	
a
	color negro
	text-decoration none

	
body
	font-size 16px
	font-family roboto
	height 100%

h1, h2, h5, p
	position relative
	margin 0

h2, h3, h4, h4
	font-family roboto		

h1
	color rojo
	font-family Anton, sans-serif
	font-size 5.1em
	text-transform uppercase
	padding .8em 0 0 0
	text-align center
	text-shadow 0 1px 0 reNegro
	

h2
	color rojo
	font-size 1.5em
	font-weight: 300
	top -.5em
	text-align center
	margin 0 0 3em 0
	text-shadow 0 1px 0 reNegro

h4
	font-size 1.2em

	
h5
	background transparent
	font-size 1.05em	
	top -25px
	font-weight 300

header
	background url('../img/bg2.jpg') azul no-repeat center
	background-position-y: 0px;
	background-size cover	
	height 100%
	min-height 636px
	padding 2em 0
	figure
		margin 4em auto 0
		width 51%
	
	.cinturones
		background blanco
		height 43px
		width 409px
		position absolute
		display inline-block
		z-index 3
		top 519px
		&:last-child
			right 0
			width 420px 
		
	.barra
		background rojo
		height 4px
		width 16px
		display inline-block
		top -5px
		margin-right 1em
		position relative
		box-shadow 0 1px 0 reNegro
		&:last-child
			margin-right 0
			margin-left 1em
	.webtour
		color blanco
		font-size 1.8em
		font-weight 300
		margin 0 auto
		padding 1em 0 0
		text-align center
		width 80%
		
				
		


footer
	background #C3152E
	padding 1.5em 0 .5em 0
	text-align center

p
	top -1em
	margin-bottom 1em
	font-size .86em
	font-size 16px
	

#andrea
	background no-repeat , -o-linear-gradient(#949BA5 0%, #BEC3C9 100%) 
	background no-repeat , -webkit-linear-gradient(#949BA5 0%, #BEC3C9 100%)
	background no-repeat , linear-gradient(-180deg, #949BA5 0%, #BEC3C9 100%)
	height 608px
	position relative
	article
		float right
		width 49%
		h4, h5
			font-family helvetica, arial, sans-serif
		h4
			margin-top 12em
		p
			font-family helvetica, arial, sans-serif
			width 100%
			margin-top 3em
			// &:last-child
			// 	margin-left 4em

	figure
		float left
		margin 0
		position relative
		top 1px


#andres
	background-image -webkit-linear-gradient(#E41936 0%, #DD1834 53%, #C3152E 100%)
	background-image -o-linear-gradient(#E41936 0%, #DD1834 53%, #C3152E 100%)
	background-image linear-gradient(#E41936 0%, #DD1834 53%, #C3152E 100%)
	height 604px
	position relative
	article
		float right
		width 55%
		p
			width 50%	
	div
		.bajador
			left 1.5em
			position relative
			top 6em
	figure
		float left
		margin-right 1em
		position relative


#willi
	background #E2E2E4
	height 603px
	aside
		position relative
		top -2em
		ul
			list-style-type: none;
			margin 0
			padding 0 0 0 .6em
			border-left 2px solid gris

			li
				margin 0
				font-size 22px
				
				span
					color rojo
					font-family roboto
					font-size 22px
					font-weight 700
					text-transform uppercase
			.fecha
				color gris
				font-weight 300
				padding 0 0 .6em 1.2em
				margin-top -.4em
				font-size 16px				

	article
		padding 3em 0
		text-align right
		width 42%
	figure
		float right
		margin-right 2em
		overflow hidden
		position relative
		top -5px
		vertical-align bottom
		



.contenedor
	max-width 960px
	margin 0 auto
	position relative

.clear
	clear both